<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제 결과</title>
  </head>
  <body>
    <h1>결과 확인하기</h1>
    <h4><%=userInfo.name%>님, 환영합니다!</h4>
    <p>성별 : <%=userInfo.sex%></p>
    <p>
      생년월일 : <%=userInfo.year%>월 <%=userInfo.month%>월 <%=userInfo.day%>일
    </p>
    <p>관심사 : <%=userInfo.hobby%></p>
    <hr />
    <p>이메일 : <%=userInfo.email%></p>
    <p>좋아하는 색깔 : <%=userInfo.color%></p>
    <br />
    <br />
    <br />
    <a href="/">메인 페이지로 돌아가기</a>
  </body>
</html>
